.hero{
    width: Fixed(1440px);
    height: 700px;
    position: relative;

    .bc{
        width: 100%;
        height: 700px;
        position: relative;

    }

    .caption{
        width: Fixed(630px);
        height: Hug(306px);
        top: 354px;
        left: 80px;
        padding: 24px 40px 32px 40px;
        background: linear-gradient(256.73deg, #1CBDDD 27.86%, #4DCA79 100%),
                    linear-gradient(0deg, #FFFFFF, #FFFFFF);
        position: absolute;

        .para1{
            width: 556px;
            height: 192px;
            font-family: 'Inter', sans-serif;
            font-size: 48px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #FFFFFF;
        }

        .consBtn{
            width: Hug (214px);
            height: Hug (38px);
            padding: 12px 20px 12px 20px;
            border-radius: 4px;
            gap: 8px;
            background: #F28D35;
            font-family: Inter;
            font-size: 14px;
            font-weight: 700;
            line-height: 14px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #FFFFFF;
            border: none;
            cursor: pointer;
            margin-top: 20px;
        }

        .consBtn:hover{
            background: #FFFFFF;
            color: #F28D35;
        }

    }
}



/* -------------------Web & Mobile app development------------------------ */
    .devContainer{
        width: Hug (1064px);
        height: Hug (414px);
        top: 934px;
        left: 188px;
        gap: 108px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


        .dcLeft{
            width: 414px;
            height: 414px;
        }

            .devText{
                width: 542px;
                height: Hug (187px);
                gap: 20px;
                text-align: left;
            }

                .devTitle{
                    width: Hug (507px);
                    height: Hug (33px);
                    gap: 12px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 27px;
                    font-weight: 600;
                    line-height: 33px;
                    letter-spacing: 0.4000000059604645px;
                    text-align: left;
                    color: #6B3CC9;
                    margin-bottom: 20px;

                }
                .devPara{
                    width: 542px;
                    height: 76px;
                    font-family: 'Inter', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    margin-bottom: 20px;
                }
                .devBtn{
                    background: #F28D35;
                    color: #ffffff;
                    width: Hug (129px);
                    height: Hug (38px);
                    padding: 12px 20px 12px 20px;
                    border-radius: 4px;
                    border: none;
                    cursor: pointer;
                    font-family: Inter;
                    font-size: 14px;
                    font-weight: 700;
                    line-height: 14px;
                    letter-spacing: -0.02em;
                    text-align: left;

                }

                .devBtn:hover{
                    background: #edbe94;
                    color: #9d612c;
                }



    /*----------------------Digital Strategy Consulting-----------------------*/
    .consult{
        width: Hug (1064px);
        height: Hug (416px);
        top: 1428px;
        left: 188px;
        gap: 108px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .conPara{
        margin-bottom: 20px;
        width: 542px;
        height: 95px;
        font-family: 'Inter', sans-serif;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
        letter-spacing: 0em;
        text-align: left;
    }


    /*--------------------------------footer-------------------------------------*/

    .footer{
        width: 1310px;
        height: 324px;
        top: 1944px;
        padding: 40px 80px 20px 80px;
        background: #6B3CC9;
        display: flex;
        flex-direction: column;
        position: absolute;
        justify-content:space-around ;

        .footerTop{
            display: flex;
            width: Fill(1280px);
            height: Hug (199px);
            margin-bottom: 40px;

            .topLeft{
                width: Fixed (413px);
                height: Hug (102px);
                margin-right: 280px;

                img{
                    width: 238.89px;
                    height: 36.11px;
                    margin-bottom: 20px;
                }

                p{
                    width: 413px;
                    height: 57px;
                    font-family: 'Lato', sans-serif;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 19px;
                    letter-spacing: 0em;
                    text-align: left;
                    color: #ffffff;
                }
            }

            .topRight{
                width: Hug (522px);
                height: Hug (199px);
                display: flex;
                align-items: center;
                align-items: flex-start;

                .tech{
                    width: Fixed(197px);
                    height: Hug (199px);
                    margin-right: 128px;
                }

                    .topic{
                        font-family: 'Inter', sans-serif;
                        font-size: 21px;
                        font-weight: 600;
                        line-height: 25px;
                        letter-spacing: 0em;
                        text-align: left;
                        color: #ffffff;
                        margin-bottom: 12px;
                    }

                    ul{
                        list-style: none;
                        color: #ffffff;
                        width: Hug (60px);
                        height: Hug (162px);

                        li{
                            margin-bottom: 12px;
                        }
                    }

                .services{
                    width: Fixed (197px);
                    height: Hug (187px);

                }

            }

        }
        .footerBottom{
            align-items: center;
            justify-content: center;
            display: flex;

            .box{
                width: Fixed (630px);
                height: Hug (25px);
                justify-content: center;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            
            hr{
                margin-bottom: 8px;
                width: 630px;
                border: 1px solid white;
            }

            span{
                font-family: 'Inter', sans-serif;
                font-size: 14px;
                font-weight: 500;
                line-height: 17px;
                letter-spacing: 0em;
                text-align: left;
                color: #ffffff;
            }

        }
    }


    /*---------------------------------Responsivenss---------------------------*/

    @media screen and (max-width:1200px){
        .hero{
            width: Fixed(1200px);

            .bc{
                height: 763px;
                width: 1200px;
            }

            .caption{
                width: Fixed(622px);
                height: Hug(306px);
                left: 60px;
            }
        }

        .devContainer{
            width: Fixed (896px);
            height: Hug (346px);
            top: 857px;
            left: 152px;
        }

        .dcLeft{
            width: 346px;
            height: 346px;
        }

        .devText{
            width:530px;
            height: Hug (187px);
        }

        .devPara{
            width: 530px;
            height: 76px;
        }

        .consult{
            width: Fixed (896px);
            height: Hug (348px);
            top: 1283px;
            left: 152px;
        }

        .conPara{
            width: 530px;
        }

        .footer{
            width: 1050px;
            top: 1711px;
            padding: 40px, 60px, 20px, 60px;

            .footerTop{
                width: Fill (1,080px);

                .topLeft{
                    width: Fixed (438px);
                    margin-right: 100px;

                p{
                    width: 438px;
                }

                }

                .topRight{
                    width: Fill (530px);

                    .tech{
                        width: Fixed (255px);
                    }

                    .topic{

                    }
                }
            }
        }
    }

